<a href="https://colab.research.google.com/github/DenShum/NumPy-pandas-MPL/blob/main/%22pal_8_Denis_Shum_dz3_pandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
def class_movi(rating):
  if rating <= 2:
    return 'Низкий рейтинг'
  elif  2 < rating <= 4:
    return 'Средний рейтинг'
  elif  rating == 4.5 or rating == 5.0:
    return 'Высокий рейтинг'

data['class'] = data['rating'].apply(class_movi)
data.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {


'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [ ]:
geo_data = pd.read_csv('keywords.csv')
geo_data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
def request(row):
  if row['keyword'] == 'москва' or row['keyword'] == 'тула' or row['keyword'] == 'ярославль':
    return 'Центр'
  elif row['keyword'] == 'петербург' or row['keyword'] == 'псков' or row['keyword'] == 'мурманск' :
    return 'Северо-Запад'
  elif row['keyword'] == 'владивосток' or row['keyword'] == 'сахалин' or row['keyword'] == 'хабаровск':
    return 'Северо-Запад'
  else:
    return 'undefined'
geo_data['region'] = geo_data.apply(request,axis=1)
geo_data.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined