<a href="https://colab.research.google.com/github/DenShum/NumPy-pandas-MPL/blob/main/%22pal_8_Denis_Shum_dz4_pandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source_source равен yandex или google, то в source_type ставится organic

- для источников paid и email из России - ставим ad

- для источников paid и email не из России - ставим other

- все остальные варианты берем из traffic_source_source без изменений

In [ ]:
import pandas as pd
data = pd.read_csv('visit_log.csv', sep=';')
data.head()

    timestamp    visit_id  ...     user_id traffic_source
0  1549980692  e3b0c44298  ...  b1613cc09f         yandex
1  1549980704  6e340b9cff  ...  4c3ec14bee         direct
2  1549980715  96a296d224  ...  a8c40697fb         yandex
3  1549980725  709e80c884  ...  521ac1d6a0         yandex
4  1549980736  df3f619804  ...  d7323c571c         yandex

[5 rows x 6 columns]

In [ ]:
def type(row):
  if row['traffic_source'] == 'yandex' or row['traffic_source'] == 'google':
    return 'organic'
  elif  row['traffic_source'] == 'paid' and row['region'] == 'Russia' or row['traffic_source'] == 'email' and row['region'] == 'Russia':
    return 'ad'
  elif  row['traffic_source'] == 'paid' and row['region'] != 'Russia' or row['traffic_source'] == 'email' and row['region'] != 'Russia':
    return 'other'
  else:
    return row['traffic_source']

data['source_type'] = data.apply(type, axis=1)
data.head()

    timestamp    visit_id  ... traffic_source source_type
0  1549980692  e3b0c44298  ...         yandex     organic
1  1549980704  6e340b9cff  ...         direct      direct
2  1549980715  96a296d224  ...         yandex     organic
3  1549980725  709e80c884  ...         yandex     organic
4  1549980736  df3f619804  ...         yandex     organic

[5 rows x 7 columns]

Задание 2

В файле URLs.txt содержатся url страница новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей.
 Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

- Прочитайте содержимое файла с датафрейм

- Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [ ]:
page = pd.read_table('URLs.txt', sep='|')
page[page['url'].str.contains('/\d\d\d\d\d\d\d\d-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [ ]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
group_data = data.groupby('userId').agg({'timestamp': ['min', 'max', 'count']})['timestamp'].query('count > 100').reset_index()
group_data.head()

   userId         min         max  count
0       4   949778714   949982274    204
1       8  1154389340  1154474527    116
2      15   997937239  1469330735   1700
3      17  1127468587  1127476640    363
4      19   855190091   855195373    423

In [ ]:
group_data['average'] = group_data['max']-group_data['min']
res = group_data['average'].mean()
res

40080507.4496124

Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).

  Необходимо сформировать две таблицы:
- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
- аналогичную таблицу по типам выручки с указанием адреса клиента

  Обратите внимание, что в процессе объединения таблиц данные не должны теряться.
  
  Дана статистика услуг перевозок клиентов компании по типам:

- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

tabl1 = rzd.merge(auto, how='outer',on='client_id')
tabl2 = tabl1.merge(air, how='outer',on='client_id').fillna(0)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0

In [ ]:
tabl3 = tabl2.merge(client_base, how='outer',on='client_id').fillna(0)
tabl3.head()

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1